@import '../../App.module.scss';

.page {
    position: relative;
    min-height: calc(100vh - $headerHeight - $footerHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contactsLink {
    text-decoration: none;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.contactsWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-black;
    transition: 0.3s;
    font-size: 18px;

    &:hover {
        color: $color-grey;
    }
}

.contactsIcon {
    width: 16px;
}

%mainPageButton {
    height: 80px;
    width: 240px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 26px;
    outline: none;
    border: 2px solid $color-black;

    @media (max-width: 370px) {
        height: 60px;
        width: 180px;
        font-size: 18px;
    }
}

.flyBtn {
    @extend %mainPageButton;
    background-color: transparent;
    color: $color-black;

    &:hover {
        background-color: $color-black;
        color: white;
    }
}

.sendPackageBtn {
    @extend %mainPageButton;
    color: white;
    background-color: $color-black;

    &:hover {
        background-color: transparent;
        color: $color-black;
    }
}
